@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}
.container {
  width: 1160px;
  margin-left: 20px;
  margin-right: 20px;
}

.element-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  position: relative;
  min-width: 170px;
  border-top: 5px;
  border-radius: 4px;
  padding: 16px 11px;
  align-items: center;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
}
.btn::before {
  content: " ";
  display: block;
  position: absolute;
  width: 170px;
  height: 10px;
  top: -4px;
  right: 0;
  border-radius: 4px;
  background-color: white;
  z-index: -1;
}
.header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 120px;
  background: rgba(94, 93, 88, 0.6);
}

.logo {
  width: 58px;
  height: 67px;
  background-image: url("./../img/header-section/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 6px;
}

.logo-letter {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
}

.header-cont > span {
  font-size: 32px;
  font-weight: 400;
  color: #ffffff;
}

.header-cont > :nth-child(3) {
  color: #18cfab;
  font-weight: 700;
}

.navi {
  display: flex;
  justify-content: space-between;
}

.navi-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 636px;
  margin-left: 285px;
}

.nav-link {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}

.nav-link:hover {
  color: #18cfab;
}

.header-search {
  width: 20px;
  height: 22px;
  margin-left: 21px;
  background: rgba(94, 93, 88, 0.6);
}

.main {
  flex-direction: column;
}

.hero {
  background-image: url("./../img/header-section/bg-creative-section.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  z-index: -2;
}

.hero-cont {
  flex-direction: column;
  width: 795px;
  margin-top: 370px;
}

.hero-subtext-1 {
  font-weight: 700;
  font-size: 35px;
  line-height: 57px;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-subtext-1 > span {
  color: #18cfab;
}

.hero-subtext-2 {
  font-weight: 700;
  font-size: 78px;
  line-height: 100px;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-subtext-3 {
  font-weight: 400;
  font-size: 34px;
  line-height: 57px;
  color: #d4d4d4;
}

.hero-btn-block {
  display: flex;
  margin: 134px 0 243px 0;
  gap: 26px;
}

.hero-btn-right {
  background: #18cfab;
}

.hero-btn-left {
  background: #00cbf6;
}

.options {
  width: 100%;
  height: 370px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
}
.options-block h3{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #18CFAB;
  text-transform: uppercase;
}
.options :nth-child(odd) {
  background-color: #1c2a33;
}

.options :nth-child(even) {
  background: #18cfab;
}

.options-block {
  flex-direction: column;
  justify-content: space-between;
}

.options-block > img {
  margin-top: 90px;
}

.options-block > h3 {
  margin-bottom: 110px;
}
